################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityModel/obj
/Database-Layer/bin/Debug/net8.0
/BusinessLayer
/Retailer-webApi/bin/Debug/net8.0
/Retailer-webApi/obj
/EntityModel/bin/Debug/net8.0
/.vs
/Database-Layer/obj
